.terraform
terraform.*
iac/terraform.tfstate.**
.terraform.lock.hcl
.tmp
.venv
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info
dist
build
*.log
*.swp
*.bak
*.orig
*.DS_Store
*.idea
*.vscode
*.iml
*.coverage
.coverage.*
*.mypy_cache
*.pytest_cache
*.tox
*.hypothesis
*.coverage.xml
*.coverage.json
uv.lock